.slide{
  .slideMain{
    .slideImg{
    background-size: cover;
    // display: flex;
    display: inline !important;

    .images{
      display: inline !important;
      background-size: cover;

    }
    } 
    .slideContent{
      .contentBottom{
        input{
          margin-left: 15px;
          border: 1px solid rgba(128, 128, 128, 0.4);
          padding: 10px;
          border-radius: 10px;
          font-size: 1rem;
          width: 320px;
          &:focus-visible {
              outline: none;
              box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
            }
      }
      button{
          background-color: #f8b333;
          border-radius: 10px;
          border: 1px solid #f8b333;
          margin-left: 15px;
          width: 96px;
          height: 40px;
          color: #fff;
          font-weight: bold;
          font-size: 1rem;
          &:hover{
              cursor: pointer;
          }
      }

      } 
    }
  }
}