.content {
  width: 1210px;
  max-width: 100%;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  &__border {
    width: 784px;
    border-top: 1px solid rgba(128, 128, 128, 0.266);
    margin: auto;
  }
  &__h1 {
    font-size: 26px;
    color: #3a4354;
    font-weight: 650;
    padding: 30px 0;
    text-align: center;
    &--span {
      color: #f8b333;
    }
  }
  &__bottom {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--h2 {
      font-size: 20px;
      font-weight: 650;
      padding-top: 30px;
      color: #3a4354;
    }
    &--span {
      padding-bottom: 100px;
      width: 240px;
      height: 40px;
      text-align: center;
      color: #3a4354e6;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    display: block !important;
    padding: 50px 32px 0px !important;
    &__h1 {
      display: flex;
      justify-content: center;
      &--span {
        padding-left: 10px;
      }
    }
    &__border {
      width: 270px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    &__items {
      flex-direction: row-reverse !important;
      justify-content: space-between !important;
      &--flexbox {
        flex-direction: row !important;
      }
    }
    &__title {
      justify-content: flex-start !important;
      align-items: flex-start !important;
      &--h2 {
        font-size: 18px !important;
        color: #3a4354;
      }
      &--span {
        color: #3a4354e6;
        width: 100%;
        text-align: none !important;
      }
    }
    &__bottom {
      flex-direction: column !important;
      gap: 50px !important;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .content {
    display: block !important;
    padding: 50px 24px 0px !important;
  
    &__border {
      width: 270px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    &__items {
      flex-direction: row-reverse !important;
      justify-content: space-between !important;
      &--flexbox {
        flex-direction: row !important;
      }
    }
    &__image {
      box-sizing: border-box;
      max-height: 150px;
      flex: 1 0 90px;
      display: flex;
      -webkit-box-pack: end;
      justify-content: flex-end;
      &--img {
        width: 100% !important;
        max-width: 210px !important;
      }
    }
    &__title {
      justify-content: flex-start !important;
      align-items: flex-start !important;
      &--h2 {
        font-size: 18px !important;
        color: #3a4354;
      }
      &--span {
        color: #3a4354e6;
        width: 100%;
        text-align: left !important;
      }
      &--user2 {
        padding-left: 20px !important;
      }
      &--user1 {
        padding-right: 17px !important;
      }
    }
    &__bottom {
      flex-direction: column !important;
      gap: 0px !important;
    }
  }
}
