.slide {
  padding-top: 50px;
  &__img {
    background-image: url('https://qcm.imgix.net/home_hero_bg.png?auto=format&w=1200');
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
  }
  &__input {
    display: flex;
  }
  &__content {
    padding: 0 15%;
  }
  &__contentCenter {
    padding-top: 125px;
    margin-bottom: 84px;
    &--h1 {
      color: #ffff;
      font-size: 3.5em;
      margin: 0;
      font-weight: 700;
    }
    &--h2 {
      margin-top: 10px;
      color: #ffff;
      font-size: 1.3rem;
    }
  }
  &__find, &__singapore {
    margin-right: 15px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
  }
  &__find {
    width: 53%;
    height: 56px;
  }
  &__singapore {
    width: 33%;
    height: 56px;
  }
  &__search {
    display: none;
  }
  &__button {
    background-color: #f8b333;
    border-radius: 10px;
    border: 1px solid #f8b333;
    width: 12%;
    height: 56px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    &:hover {
      cursor: pointer;
      background-color: goldenrod;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .slide {
    padding-top: 69px !important;
    &__content{
      padding: 0px 20%;
    }
    &__img {
      height: 720px !important;
      background-position: center !important;
    }
    &__button {
      width: 10% !important;
    }
    &__search {
      display: none !important;
    }
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .slide__img {
    height: 488px !important;
    background-position: center !important;
  }
  .slide__content {
    margin: 0 !important;
    padding: 0 5%;
  }
  .slide__contentCenter {
    margin: auto;
    padding-top: 60px;
    margin-bottom: 110px;
    &--h1 {
      font-size: 2.2em !important;
      padding-bottom: 10px !important;
    }
    &--h2 {
      font-size: 1.1rem !important;
    }
  }
  .slide__search {
    width: 100% !important;
    position: relative;
    display: flex !important;
    top: 37px;
    &--icon {
      position: absolute;
      width: 25px;
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 10px;
      color: #f8b333;
    }
    &--input {
      width: 100% !important;
      height: 50px;
      background: #ffff;
      border: none;
      font-size: 14px;
      color: #63717f;
      padding-left: 45px;
      border-radius: 5px;
    }
  }
  .slide__find,
  .slide__singapore,
  .slide__button {
    display: none;
  }
}
