.app {
  background-color: rgb(250, 221, 144);
  background-image: url(https://qcm.imgix.net/hp_ellipse_bg.png);
  background-size: 375px;
  background-repeat: no-repeat;
  width: 644px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-position: 100% 150%;
  &__booking {
    display: flex;
    border-radius: 16px;
    background-position: 100% 150%;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin: 0 30px;
    &--h4 {
      width: 252px;
      color: #3a4354;
      font-weight: 650;
      padding-bottom: 20px;
    }
    &--img {
      display: flex;
      gap: 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__right {
    padding-top: 63px;
    width: 273px;
  }
}
.border {
  width: 800px;
  border-top: 1px solid rgba(128, 128, 128, 0.73);
  margin: 50px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .app {
    width: 100% !important;
    margin-bottom: 50px !important;
    &__booking {
      flex-direction: column !important;
    }
      &__left--h4 {
        text-align: center !important;
        font-size: 21px;
        color: rgb(58, 67, 84);
        margin: 30px 0;
        padding: 0px;
        font-weight: 650px;
      }
      &__right {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 250px !important;
      padding-top: 0 !important;
    }
  }
  .border {
    display: none !important;
  }
}
@media (min-width: 390px) and (max-width: 768px) {
  .app {
    width: 390px !important ;
    height: 400px !important;
    margin-bottom: 50px !important;
    background-size: 500px !important;
    border-radius: 0 !important;
    &__booking{
      flex-direction: column !important ;
    }
    &__left--h4{
      text-align: center;
      width: 242px !important;
      font-size: 20px !important;
      padding: 20px 0 !important;
      margin-left: 30px !important;
    }
    &__right{
      padding-top: 35px;
      text-align: center;
      width: 100% !important;
    }
  }
  .border{
    display: none !important;
  }
  
}
