.footer{
  display: flex;
  flex-direction: column;
  &__collapse{
    display: flex !important;
    flex-direction: column !important;
    background-color: #232833 !important;
    flex-basis: 50%;
      margin-bottom: 20px;
    &--h3{
      padding: 0 !important;
      font-weight: bold;
      color: #ffff !important;
      
    }
  }
  &__subtitle{
    display: flex;
    flex-direction: column;
    color: #ffffffcc;
    padding: 0 !important;
    &--item{
      color: #ffffffcc;
      padding: 8px 0;
      font-size: 16px !important;
    }
  }
}
