.footer{
  display: flex;
  flex-direction: column;
  &__collapse{
    display: flex !important;
    flex-direction: column !important;
    background-color: #232833 !important;
    flex-basis: 50%;
    margin-bottom: 2rem;
    &--h3{
      padding: 0 !important;
      font-weight: bold;
      color: #ffff !important;
    }
  }
  &__subtitle{
    display: flex;
    flex-direction: column;
    color: #ffffffcc;
    padding: 0 !important;
    &--item{
      color: #ffffffcc;
      padding: 0.8rem 0;
      font-size: 1.6rem !important;
    }
  }
}
