.footer{
    display: flex;
    flex-direction: column;
    &__collapse{
      display: flex !important;
      flex-direction: column !important;
      background-color: #232833 !important;
      &--h3{
        font-size: 16px;
        padding: 10px 0;
        font-weight: bold;
        color: #ffff !important;
      }
    }
    &__subtitle{
      display: flex;
      flex-direction: column;
      color: #ffffffcc;
      &--item{
        color: #ffffffcc;
        padding: 8px 0;
        font-size: 16px !important;
      }
    }
}