.directory {
    margin-left: auto;
    margin-right: auto;
  &__top{
    width: 644px;
    margin-left: auto;
    margin-right: auto;
  }
  &__h2 {
    font-size: 28px;
    color: #3a4354;
    font-weight: 650;
    text-align: center;
    padding-bottom: 48px;
    &--span {
      color: #f8b333;
    }
  }
  &__button {
    border: 10px;
    padding-bottom: 20px;
    border: 10px;
    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 45px;
      border-radius: 10px;
      border: 1px solid rgba(128, 128, 128, 0.382);
      color: #ffff;
      font-size: 18px;
      font-weight: bold;
      background-color: #f8b333;
      &:hover {
        cursor: pointer;
        background-color: #b8860b;
      }
    }
  }
  &__content {
    background-image: linear-gradient(
        90deg,
        rgb(0, 0, 0) 50%,
        rgba(17, 87, 167, 0) 75%
      ),
      url("https://qcm.imgix.net/b2b_banner_bg.png?w=300");
    border-radius: 16px;
    background-position: right center;
    background-size: contain;
    height: 300px;
    color: #ffff;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--span {
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      color: rgb(255, 255, 255);
      margin: 0px;
      padding-bottom: 20px;
    }
    &--h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      color: rgb(255, 255, 255);
      margin: 0px;
      padding: 0px 0px 16px;
      width: 250px;
    }
    &--sub {
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 24px;
      color: rgb(255, 255, 255);
      padding-bottom: 20px;
    }
  }
  &__bottom {
    margin-bottom: 48px;
    width: 644px;
    margin-left: auto;
    margin-right: auto;
    &--h3 {
      padding: 35px 0;
      font-weight: 700;
      font-size: 25px;
      line-height: 32px;
      color: rgb(58, 67, 84);
    }
  }
  &__collapse {
    box-shadow: rgb(51 51 51 / 20%) 0px 1px 2px;
    margin-bottom: 15px;
    &--h3 {
      font-weight: 650;
      font-size: 18px;
      margin: 0px;
      padding: 0px;
      color: #3a4354e6;
    }
  }
}

@media (min-width: 600px) and (max-width:1024px) {
  .directory__top{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .directory__content{
    border-radius: 0px !important;
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 65%, rgba(17, 87, 167, 0) 85%), url("https://qcm.imgix.net/b2b_banner_bg.png?w=300") !important;
    background-position: 102% center !important;
  }
}

@media (min-width: 320px) and (max-width:600px) {
  .directory__top{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .directory__content{
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 30%, rgba(17, 87, 167, 0) 60%), url("https://qcm.imgix.net/b2b_banner_bg.png?w=300") !important;
    background-repeat: round !important; 
    border-radius: 0px !important;
  }
  .directory__bottom {
    margin-bottom: 48px;
    width: 320px !important;
    margin-left: auto;
    margin-right: auto; 
    &--h3{
      font-size: 24px !important;
    }
  }
  .directory__collapse{
    &--h3{
      font-size: 17px
    }
  }
}