.content {
  padding: 0;
  &__h2 {
    font-weight: 700;
    text-align: center;
    line-height: 32px;
    color: rgb(58, 67, 84);
    font-size: 2.8rem;
    padding: 30px 0;
    &--span {
      color: #f8b333;
    }
  }
  &__find {
    color: #3a4354;
    font-size: 2.5rem;
    &--h3 {
      margin: 0;
      font-size: 2.5rem;
    }
    &--p {
      color: #3a4354b3;
      font-size: 1.8rem;
      padding: 5px 0 25px;
    }
  }

  &__slider {
    &:hover {
      cursor: pointer;
    }
  }
  &__food {
    padding-right: 20px;
  }
  &__title--h3 {
    font-size: 1.6rem;
    color: rgb(58, 67, 84);
    margin: 5px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &__bottom {
    display: flex;
    flex-direction: row;
  }
  &__right {
    padding-top: 8px;
    flex: 1 1 0%;
    order: unset;
    &--range {
      font-weight: 400;
      font-style: normal;
      font-size: 1.4rem;
      line-height: 24px;
      color: rgba(58, 67, 84, 0.7);
      margin: 0px;
      padding: 0px;
    }
    &--price {
      font-size: 1.2rem;
      margin-left: 5px;
      color: rgba(58, 67, 84, 0.7);
      &::before {
        content: '•';
        margin-right: 5px;
      }
      &--bold {
        font-weight: bold;
      }
    }
  }
  &__left {
    padding-top: 4px 0 0 16px;
    order: unset;
  }
  &__rate {
    background-color: #53ca83;
    padding: 1px 5px;
    border-radius: 18px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    &--span {
      font-size: 1.2rem;
    }
  }
  &__comment {
    color: rgba(58, 67, 84, 0.7);
    &--span {
      background-color: #ffff;
    }
  }
  &__button {
    padding-top: 30px;
    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 45px;
      border-radius: 10px;
      border: 1px solid rgba(128, 128, 128, 0.382);
      background-color: #ffff;
      font-size: 1.5rem;
      font-weight: bold;
      color: #f8b333;
      &:hover {
        cursor: pointer;
        background-color: rgba(255, 192, 203, 0.466);
      }
    }
    &--a {
      display: none;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
  .content {
    padding: 0 48px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    padding: 0 3.2rem !important;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .content {
    padding: 0 2.4rem !important;
    &__h2 {
      font-size: 2.4rem;
      flex-wrap: wrap;
    }
    &__find {
      font-size: 1.6rem !important;
      &--p {
        font-size: 1.6rem !important;
      }
      &--h3 {
        font-size: 2rem !important;
        font-weight: 650;
      }
    }
    &__button {
      font-size: 1.6rem;
      &--btn {
        display: none;
      }
      &--a {
        display: block;
        color: #f8b333;
        text-decoration: underline;
      }
    }
    &__slider {
      margin: 0 !important;
    }
  }
}
