.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px auto;
  padding-top: 5rem !important;
  padding: 0 4.8rem;
  &__left {
    flex: 0 1 480px;
    justify-content: space-between;
    padding-top: 190px;
    background: url(https://assets-www.web-dev.euwest1.aws.quandoo.com/12.158.3/static/media/plate-v-2.fdf37789.png)
      left 58px no-repeat;
    &--title {
      font-size: 4.1rem;
      color: rgb(58, 67, 84);
      padding-top: 30px;
      &--h1 {
        font-weight: 650;
        font-size: 4.1rem;
      }
    }
    &--subtitle {
      font-size: 1.9rem;
      line-height: 27px;
      color: rgba(58, 67, 84, 0.9);
      padding: 25px 0;
    }
    &--button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.9rem;
      font-weight: bold;
      width: 252px;
      height: 47px;
      border: 2px solid rgb(93, 69, 182);
      color: rgb(93, 69, 182);
      background-color: rgb(255, 255, 255);
      box-shadow: none;
      border-radius: 8px;
      &:hover {
        background-color: rgb(93, 69, 182);
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
    }
  }

  &__right {
    width: 550px;
  }
  &__food {
    box-sizing: border-box;
    margin-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(240, 242, 245);
    border-radius: 0px;
  }
  &__foodRight {
    box-sizing: border-box;
    height: auto;
    margin-bottom: 16px;
    padding-top: 0px;
    display: flex;
    position: relative;
  }
  &__image {
    box-sizing: border-box;
    max-width: 176px;
    height: 100px;
    min-width: 100px;
    flex: 1 0 32%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
  }
  &__title {
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    min-width: 0px;
    padding-left: 16px;
    margin-top: 0px;
    flex: 2 1 62%;
    display: flex;
    flex-direction: column;
  }
  &__titleRight {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    &--h5 {
      margin-bottom: 0px;
      color: rgb(58, 67, 84);
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.5rem;
    }
    &--range {
      font-size: 1.3rem;
      margin-top: 5px;
    }
    &--price {
      margin-left: 5px;
      color: rgba(58, 67, 84, 0.7);
      font-size: 1.3rem;

      &::before {
        content: '•';
        margin-right: 5px;
      }
      &--bold {
        font-weight: 700;
        font-size: 1.3rem;
        color: black;
      }
    }
  }
  &__rate {
    background-color: #53ca83;
    padding: 1px 3px;
    border-radius: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    &--span {
      font-size: 1.1rem;
    }
  }
  &__comment {
    color: rgba(58, 67, 84, 0.7);
    padding-left: 5px;
    font-size: 1.3rem;
  }

  &__button {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .content {
    padding: 0 3.2rem;
    &__left--title--h2 {
      font-size: 4.1rem;
      font-weight: bold;
      color: rgb(58, 67, 84);
    }
  }
}
@media (min-width: 1024px) and (max-width: 1900px) {
  .content{
    padding: 0 4.8rem;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .content {
    padding: 0 2.4rem;
    &__food {
      border-bottom: 0 !important;
    }
    &__left {
      padding-top: 100px;
      padding-bottom: 40px !important;
      flex: 0 1 370px;
      background-size: 140px;
      background-position-y: 10px;
      &--subtitle {
        font-size: 1.5rem;
      }
      &--title--h1 {
        font-size: 2.7rem !important;
      }
      &--button {
        display: none;
      }
    }
    &__title {
      padding-left: 10px;
    }
    &__titleRight {
      &--h5 {
        white-space: nowrap;
        width: 195px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &__button {
      width: 252px;
      height: 47px;
      font-size: 1.9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      margin: 50px auto;
      border: 2px solid rgb(93, 69, 182);
      color: rgb(93, 69, 182);
      background-color: rgb(255, 255, 255);
      border-radius: 8px;
      &:hover {
        background-color: rgb(93, 69, 182);
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
    }
    &__image {
      width: 100% !important;
      min-width: 120px !important;
      height: 99px !important;
    }
  }
}
