.footer{
    background-color: #232833;
    color: #ffffff;
    .footerMain{
        display: flex;
        justify-content: space-around;
        padding-top: 180px;
        .footerRegions{
            .item{
                display: flex;
                align-items: center;
                .images{
                    margin-left: 5px;
                }
            }
        }
        .footerSocial{
            .icons1{
                width: 25px;
                height: 25px;
            }
            .icons{
                margin-left: 20px;
                width: 25px;
                height: 25px;
            }
        }
        .footerApps{
            .images{
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                .imagesItem{
                    margin-bottom: 20px;
                }
            }
        }
            .item{
                color: #ffffffcc;
                padding: 8px 0;
            }
            span{
                margin-left: 10px;
            }
    }
    .footerBottom{
        margin-left: 60px;
        padding-bottom: 40px;
        .offcialApps{
            margin-left: 15px;
            color: #ffffffcc;
        }
    }
}
