.footer {
  display: flex;
  justify-content: center;
  padding: 15.5rem 3rem 3rem;
  background-color: rgb(35, 40, 51);
  color: #ffff;
  &__main {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
  }
  &__item {
    flex: 1 1 0%;
    padding-right: 0;
    &--mobile {
      display: none;
    }
    &--des {
      &--title {
        color: #ffffffcc;
        padding: 0.8rem 0;
        font-size: 1.6rem !important;
      }
      &--h3 {
        font-size: 1.7rem;
        font-weight: bold;
        padding-bottom: 1.6rem;
      }
    }
  }
  &__social {
    flex: 1 1 0%;
    padding-right: 2.5rem;
    &--h3 {
      font-size: 1.7rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
    &--item1 {
      width: 25px;
      height: 25px;
    }
    &--item2 {
      margin-left: 2rem;
      width: 25px;
      height: 25px;
    }
  }
  &__apps {
    display: flex;
    flex-direction: column;
    &--icons {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    &--h3 {
      font-size: 1.7rem;
      font-weight: bold;
      padding-bottom: 2rem;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 100%;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.4rem;
    margin-top: 4rem;
    &--img {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      flex-direction: column;
      &--footer{
        padding: 1rem 0;
      }
    }
  }
  &__googleplay {
    padding-bottom: 2rem;
  }
}

// apply to tablet
@media (min-width: 600px) and (max-width: 1023px) {
  .footer__main {
    flex-wrap: wrap;
    justify-content: space-between !important;
    padding: 0 !important; 

  }
  .footer__item {
    flex-basis: 50%;
    margin-bottom: 4rem; 
    padding-right: 0;
  }
  .footer__social {
    flex-basis: 50%;
  }
  .footer__apps--icons {
    display: flex;
    flex-direction: row !important;
  }
  .footer__bottom {
    padding: 0px !important;
  }
  .footer__googleplay {
    padding-right: 2rem;
  }
}

// apply to mobile
@media (min-width: 320px) and (max-width: 600px) {
  .footer{
    padding: 8rem 2rem 3rem;
}
  .footer__main {
    flex-flow: column nowrap;
    display: block;
  }
  .footer__item--des {
    display: none !important;
  }
  .footer__item--mobile {
    display: block;
    padding: 0 0.5rem;
    flex-basis: 50%;
    margin-bottom: 4rem;
    &--collapse {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.4rem;
      &--h3 {
        font-size: 1.8rem;
        padding: 1rem 0;
      }
      &--icons--item {
        padding-right: 2rem !important;
        height: 20px !important;
      }
    }
  }
  .footer__subtitle {
    display: block;
    &--item {
      color: #ffffffcc;
      padding: 0.8rem 0;
      font-size: 1.6rem !important;
    }
  }
  .footer__social {
    &--h3 {
      display: none;
    }
    &--item1 {
      height: 50px !important;
      width: 35px !important;
    }
    &--item2 {
      margin-left: 30px;
      height: 50px !important;
      width: 35px !important;
    }
  }
  .footer__bottom{
    margin: 0 !important;
    &--img--footer{
      width: 128px !important;
      height: 40px !important;
      padding: 0 !important;
    }
  }
  .footer__apps--h3 {
    display: none;
  }
  .footer__apps--icons {
    display: flex;
    flex-flow: row wrap;
    margin: 3rem 0 4rem;
  }
  .footer__googleplay {
    padding-right: 1rem;
  }

  .footer__intro {
    font-size: 1.3rem !important;
    color: #ffffffcc !important;
  }
}
