html,
body {
  /* padding: 0;
  margin: 0; */
  font-family: Averta, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slick-slide {
  width: 304px !important;
}
.slick-prev {
  display: block;
  z-index: 1;
  background-color: #fff;
  box-shadow: rgb(55 55 55 / 70%) 0px 6px 10px !important;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: -13px !important;
  top: 33%;
}
.slick-disabled {
  display: none !important;
}
.slick-prev,
.slick-next {
  z-index: 1;
  background-color: #ccffff !important;
  box-shadow: rgb(51 51 51 / 10%) 0px 4px 8px !important;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  right: 0px !important;
  top: 30% !important;
}
.slick-prev::before,
.slick-next::before {
  font-size: 17px !important;
  color: #000 !important;
  line-height: 1.9 !important;
}
.slick-track {
  min-width: 2500px !important;
}
p{
  margin-bottom: 0 !important;
}
